.outercontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.imagecontainer {
  padding-top: 50px;
}
.imagewandselectcontainer {
  padding: 8px 0px 160px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 60px;
}
.selectcontainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search button {
  background-color: #605dec;
  padding: 17px 25px;
  border-radius: 4px;
  border: none;
  color: #fafafa;
}
