.selectWrapper {
  position: relative;
}
.container {
  width: 100%;
  border: 1px solid #cbd4e6;
  padding: 8px 12px;
  border-radius: 4px;
}
.customSelect {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 8px;
}

.placeholder {
  font-size: 16px;
  color: #888;
}

.list {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
