.container {
  width: 100%;
  border: 1px solid #cbd4e6;
  padding: 8px 12px;
  border-radius: 4px;
}
.customSelect {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon {
  margin-right: 8px;
}

.placeholder {
  font-size: 16px;
  color: #888;
}

/* .select {
  appearance: none;
  border: 2px solid;
  background: none;
  font-size: 16px;
  padding: 0;
  color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.select option {
  color: #000;
}

.dropdownSpacing {
  height: 12px;
} */
